@mixin achorfy($selectable) {
  @if $selectable == false {
    //Below disables text highlight
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  cursor: pointer;
}

@mixin normalizeList($float-left) {
  a:visited {
    color: $primary-nav-text-color;
  }

  ul {
    padding: 0;
    overflow: hidden;
    margin: 0;
  }

  ul li {
    list-style: none;
    @if $float-left == true {
      float: left;
    }
  }
}

@mixin genericfyButton() {
  width: 300px;
  height: 35px;
  outline: 0;
  border: 0;
  text-transform: capitalize;
  font-weight: bolder;
  border-radius: 3px;

}


@mixin normalizeInput() {
  width: 300px;
  height: 35px;
  padding: 2px 10px 2px 10px;

}