@import "container-medium";

@mixin responsive() {
  //Responsive
  @media all and (max-width: $container-width) {
    width: 100%;
    float: none;
  }
}

.single {

  position: relative;

  //Generics
  h3 {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  header {
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .single-meta-top {
    overflow: hidden;
    .single-meta-top-left {

      >div {
        padding: 20px;
        >img {
          width: 100%;
        }
      }

      float: left;
      width: 60%;
      @include responsive();

    }

    .single-meta-top-right {
      background-color: #e8e8e6;
      >div {
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
      }
      float: left;
      width: 40%;
      @include responsive();


      .single-ranged-date {
        color: #666A73;
      }
      .single-target-group > div {
        color: #666A73;
      }

    }

  }


  .single-controls {
    overflow: hidden;
    border-bottom: 1px solid #D2D6DF;
    > div {
      overflow: hidden;
      padding: 20px;
      padding-right: 0px;
      padding-left: 0px;
    }

    .single-controls-left {
      float: left;
      width: 40%;

      h2{
        margin-bottom: 20px;
      }

      .form-group {
        width: 80%;
      }
    }

    @media all and (max-width: 901px) {
      .single-controls-left {
        width: 100%;
        padding-bottom: 20px;

        button {
          width: 100%;
        }
      }
    }

    .single-controls-right {
      position: relative;
      float: right;
      overflow: hidden;
      width: 40%;
      @include responsive();

      >div {

        button {
          width: 100%;
        }
      }

      .reminder-methods {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;

        select {
        }
      }

    }
  }

  .single-meta-bottom {
    overflow: hidden;
    .single-meta-bottom-left {
      >div {
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
      }
      float: left;
      width: 60%;
      @include responsive();
    }

    .single-meta-bottom-right {
      >div {
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 40px;

      }
      float: left;
      width: 40%;
      @include responsive();
    }
  }

}