@import "../tools/constants";
@import "container";
.container-small {
  @extend .container;
  width: 450px;
  margin: 0px auto;
  margin-top: $consistent-margin-top;
  position: relative;

  @media all and (max-width: 480px) {
      width:80% !important;
  }


  form {
    .form-group {
      input {
        //Needed to avoid 100% width going outside of boundary
        width: 95%;

        @media all and (max-width: 481px) {
          width: 90%;
        }
      }

      label {
      }

      margin-bottom: $consistent-margin-bottom;
    }

    button {
      width: 100%;

    }

  }
}