@import "container";
@import "../tools/constants";
@import "container-small";

.container-login {
  @extend .container;
  @extend .container-small;

  //Student Login heading section
  > div:first-child {
    h2 {
      margin-bottom: 0px;
    }

    margin-bottom: $consistent-margin-bottom;
  }

  form {


    .register-now-row {
      padding-top: 10px;
      padding-bottom: 10px;
    }



  }

}