$filter_width: 900px;

.menu-filter-container {
  border: 0px solid black;
  width: $filter_width;
  margin: 0px auto;

  .filter-title {
    text-align: center;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
  }

  .filter-options {
    overflow: hidden;
    > div {
      float: left;
      width: 25%;
      text-align: center;
      cursor: pointer;
    }
  }

  .filter-inputs-container {
    padding-top: 10px;
    > input {
      width: 100%;
    }
  }

  .filter-calendars-container {
    overflow: hidden;
    >div {
      float: left;
      width: 50%;
    }
  }

  @media all and (max-width: $filter_width) {
    width: 90%;

    .filter-inputs-container {
      width: 90%;
      margin: 0px auto;
      padding-top: 20px;
    }

    .filter-calendars-container {
      text-align: center;

      > div {
        float: none;
        width: 100%;
        >div {

          display: inline-block;

        }
      }
    }

    .filter-calendars-clear {
      text-align: center;
      padding-top: 10px;
      > button {
        width: 80%;
      }
    }
  }
}