.menu-filter-container {
  border: 0px solid black;

  .menu-container {
    .menu-main-container {
      //Black navigation colour for filter menus
      span {
        cursor: pointer;
        color: white;
        text-transform:uppercase;
      }

      a {
        color: black;
        color: white;
      }
      
      a:visited {
        color: black;
      }
      .secondary-nav {
        background-color: $secondary-nav-color;
        padding: 8px;
        z-index: 1;
        display: flex;                  /* establish flex container */
        justify-content: center; /* switched from default (flex-start, see below) */
        align-items: center;
        overflow-x: auto;
        //UL
        .filters-control {
          list-style-type: none;
          margin-right: 10px;
          margin-left: 10px;
          li {
            text-transform: uppercase;
          }
        }
      }
    }
  }


}