@import "../settings/colors";
@import "../tools/mixins";

#PrimaryNav {
  color: $primary-nav-text-color;
  background-color: $primary-nav-color;

  -webkit-box-shadow: 3px 0px 4px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 0px 4px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 0px 4px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  overflow: hidden;

  //LOGO STARTS
  .logo {
    $logo-image-width: 35px;
    $logo-text-size: 35px;

    padding-top: 10px;
    padding-bottom: 20px;

    text-align: center; //Required to center this wrapper
    .logo-container {
      display: inline-block;  //Required to center this wrapper
      
      a {
        text-decoration: none;

        .logo-image {
          overflow: hidden;
          img {
            width: $logo-image-width;
            vertical-align: middle;
            @include achorfy(false);
          }
        }

        .logo-text {
          font-size: $logo-text-size;
          font-weight: bolder;
          vertical-align: middle;
          padding-left: 15px;
          @include achorfy(false);
        }
      }

      a:visited {
        color: white;
      }

    }


  }
  //LOGO ENDS


  .menu-container {
    background-color: $primary-nav-sub-color;
  }


}


//Navigation STARTS
.menu-container {
  $nav-item-size: 14px;
  $menu-height: 50px;
  $menu-item-padding-side: 15px;
  $menu-container-padding-top: ($menu-height / 4);

  text-align: center;
  min-height: $menu-height;


  .menu-main-container {
    width: 495px;
    display: inline-block;
    padding-top: $menu-container-padding-top;
    ul {
      height: 32px;
    }
    ul li {
      padding-right: $menu-item-padding-side;
      padding-left: $menu-item-padding-side;
      font-size: $nav-item-size;
      text-transform: uppercase;

      //Required to make vertical alignment
      height: 30px;
      line-height: 30px;


      a {
        text-decoration: none;
        color: white;
      }

      a:visited {
        text-decoration: none;
        color: white;
      }

      .auth-button {
        position: relative;
        display: block;
        padding: 0;
        overflow: hidden;
        border-width: 0;
        outline: none;
        border-radius: 2px;


        color: white;

        transition: background-color .3s;
        padding: 6px 12px;
        line-height: normal;
        cursor: pointer;

        i {
          margin-right: 5px;
        }
      }

      .auth-button-login {
        @extend .auth-button;
        border: 1px solid white;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
      }

      .auth-button-logout {
        @extend .auth-button;
        border: 1px solid white;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
      }

    }
  }
  @include normalizeList(true);
}
//Navigation ENDS


#SecondaryNav {
  background-color: $secondary-nav-color;

  -webkit-box-shadow: 3px 0px 4px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 0px 4px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 0px 4px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  overflow: hidden;

  @include normalizeList(true);
}
