.form-group {
  label {
    display: block;
    font-weight: bolder;
    text-transform: uppercase;
  }

  input[type='text'] {
    min-width: 300px;
    height: 35px;
  }

  input[type='password'] {
    min-width: 300px;
    height: 35px;
  }


}
