@import "../tools/mixins";

form {
  label {
    display: block;
    font-weight: bolder;
    text-transform: uppercase;
  }

  input[type='text'] {
    @include normalizeInput();
  }

  input[type='password'] {
    @include normalizeInput();
  }

  select {
    @include normalizeInput();
  }

  button[type='submit'] {
    cursor: pointer;
  }

}
