/* Below comments refer to eventbrite.com.au styling. Feel free to change */
/* Title of pages */
h1 {
  font-size: 2em;
}
/* Normally used for hero texts in banner areas */
h2 {
  font-size: 45px;
  line-height: 50px;
  font-weight: 400;
}
/* Used for medium text for headings for lists */
h3{
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

/* Headings for category cards */
h4 {
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
}