#Page {
  width: 100%;
  overflow: hidden;
  padding-bottom: 200px;
  margin-top: 200px;
}

//Ensures all contents are contained within this central container
#PageContent {
  width: 1150px;
  margin: 0px auto;
  background-color: #FAFAFA;
}

@media (max-width: 1150px) {
  #PageContent {
    width: 100%;
    background-color: #FAFAFA;
  }
}

#GenericHelper {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;

  > i {
    font-size: 55px;
    margin: 0px auto;
    color: #b31c20;
    cursor: pointer;
  }
}