.search-group {
  input[type='text'] {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width: 100%;
    border:none;
    border-bottom:1px solid #757575;
  }

}

.search-group-date {
  overflow: hidden;
  >div {
    > label {
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      display: block;
    }
  }
}